NODE_ENV=development
PUBLIC_BASE_URL=http://localhost:8000 #runs in 3000 but docker-compose maps it to 8000

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
POSTGRES_DATABASE=postgres

DEFAULT_ADMIN_EMAIL=admin@mail.com
DEFAULT_ADMIN_PASSWORD=admin

JWT_SECRET=JWT_SECRET

# Dev (local saving)
FILE_STORAGE_DRIVER=local
UPLOADS_ROOT=./uploads
UPLOADS_AVATAR_DIR=avatars

# emails
MAIL_TRANSPORT=smtp://USERNAME:PASSWORD@smtp.ethereal.email:587 # Create credentials at https://ethereal.email/ and view messages in their web UI
MAIL_FROM=gustavoemailprueba@gmail.com

# sso gogle
GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID